<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container mt-5">
        <div class="row">
            <div class="col-md-4 mt-3" 
            v-for="(list, index) in lists" 
            :key="index">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h4>{{ list.name }}</h4>
                            <button :class="list.status == 'creating' ? 'btn-warning' : 'btn-danger'" 
                            class="btn btn-sm" 
                            @click="removeList(list)"
                            >
                                {{list.status == 'creating' ? 'Cancelar' : 'Eliminar'}}
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="saveList(list)" 
                        action="/">
                            <div class="form-group"
                             v-if="list.status == 'creating'">
                                <input class="form-control" 
                                placeholder="Nombre de la lista" 
                                v-model="list.name">
                            </div>
                            <button v-if="list.status != 'saved'" 
                            class="btn btn-primary btn-block">
                                Guardar
                            </button>
                            <!-- insertamos Cards -->
                            <div v-for="(card, indexCard) in list.cards" class="form-group" v-if="list.status == 'saved'">
                                <div class="dropdown dropright">
                                    <input 
                                    data-toggle="dropdown" class="form-control" 
                                    v-model="card.title" v-focus @keyup.enter="addCard(list)" 
                                    
                                    >
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#" 
                                        @click="removeCard(index, indexCard)">Eliminar</a>
                                        <a class="dropdown-item" href="#">Editar</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-success btn-block"
                                        @click.prevent="addCard(list)" v-if="list.status == 'saved'">
                                    Agregar tarjeta
                                </button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <button class="btn rounded-0 btn-outline-dark btn-block" 
                @click="addList">

                    Agregar lista
                </button>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./javascript.js"></script>
</body>

</html>